#blog{
	.blog-title{
		position:relative;
		h1{
			padding:0 0 10px;
			margin: 0 0 20px;
			border-bottom: $gray 3px solid;
		};
		h2 {
			padding:0;margin: 0;
		};
		.social-wrap{
			position: absolute;
			top:0;
			right:0;
		};
	}
	.blog-content{
		p {
			margin-bottom:10px;
		}
	};
	.section-title {
		padding-bottom: 5px;
		font-weight: bold;
		font-size: 20px;
		color: $gray-dark;
		border-bottom: $gray 3px solid;
	};
	.related-article{
		.article-item{
			position: relative;
			&:hover{
				.article-category{
					display:block;
				}
			}
		};
		.article-category{
			display:none;
			position: absolute;
			top: 0;
			width: 95%;
			background: rgba(255,255,255, .8);
			padding: 15px 0;
			text-align: center;
			font-size:22px;
		};
		.article-title > a{
			color:$red;
			font-size: 14px;
			text-decoration: none;
			padding: 10px 0;
			display: inline-block;
			font-weight: bold;
		};
		.article-caption{
			font-size: 14px;
		}
	};
}

