//
// Navigation
// --------------------------------------------------

// header
.header {
	position: relative;
	height: 100px;
	margin: 0;
	padding: 0;
	background: $black;
	// @media (min-width: $screen-sm-min) {
	// 	margin-top: 40px;
	// }
	.container {
		position: relative;
	}
	.mobile-nav  {
		@extend .visible-xs;
		display: inline-block;
		float: left;
		margin: 0 15px 0 -15px;
		.mobile-nav-icon {
			display: block;
			background: $red;
			width: 80px;
			height: 100px;
			text-align: center;
			&:hover {
				background: darken($red, 10%);
			}
		}
		.fa {
			color: $white;
			font-size: 40px;
			line-height: 100px;
		}
	}
	.logo-main {
		height: 100px;
		float: left;
		a {
			display: inline-block;
			height: 100px;
			width: 300px;
			background: url('/img/logo-ted-white.png') no-repeat 0 22px;
			background-size: contain;
			// @media (min-width: $screen-sm-min) {
			// 	width: 397px;
			// 	margin-top: 0;
			// }
		}
		@media (min-width: $screen-sm-min) {
			left: 0;
		}
	}
	.logo-side {
		// position: absolute;
		// right: 0;
		// top: 0;
		float: right;
		height: 70px;
		width: 55px;
		margin-top: 15px;
		background: url('/img/logo-kowloon.png') no-repeat;
		background-size: contain;
		// @media (min-width: $screen-sm-min) {
		// 	height: 70px;
		// 	width: 55px;	
		// 	margin-top: 0;		
		// }
	}
}


// navbar
.navbar {
	@extend .hidden-xs;
	min-height: auto;
	padding: 8px 0 0 0;
	background: $red;
	@media (min-width: $screen-sm-min) {
		border-radius: 0;
	}
}
.navbar-collapse {
	padding: 0;
}
.nav.navbar-nav {
	width: 100%;
	border-bottom: $red 3px solid;
	li > a {
		color: $white;
		padding: 5px 0;
		margin-right: 20px;
		font-weight: bold;
		font-size: 18px;
	}
	li > a:hover, li.active > a {
		background: inherit;
		// color: $red;
		border-bottom: $white 2px solid;
	}
}

// mobile nav
.mobile-nav-list {
	@include transition(.2s);
	@include translate3d(-300px,0,0);
	@extend .visible-xs;
	position: absolute;
	left: 0;
	top: 100px;
	width: 300px;
	padding: 0;
	z-index: $dropdown;
	list-style: none;
	li > a {
		display: block;
		padding: 20px 10px;
		background: darken($red, 15%);
		border-bottom: darken($red, 20%) 1px solid;
		color: $white;
		font-size: 16px;
		&:hover {
			background: darken($red, 5%);
			text-decoration: none;
		}
	}
	.mobile-nav-active & {
		@include translate3d(0,0,0);
	}
}
.content {
	@include transition(.2s);
	.mobile-nav-active & {
		@include translate3d(300px, 0, 0);
		@include opacity(.5);
	}
}

// footer
.footer {
	margin: 20px 0 0 0;
	padding: 10px 0;
	background: darken($white, 2%);
}
.footer-col {
	@extend .col-md-4;
	box-sizing: border-box;
	margin-bottom: 30px;
	&:last-child { border-right: none; }
	@media (min-width: $screen-md-min) {
		margin-bottom: 0;
		height: 235px;
		border-right: $gray-light 1px solid;
	}
	.title { color: $red; }
	.about-tedx { font-size: 13px; margin-bottom: 20px;}
}
.footer-bar {
	@include clearfix;
	// border-top: $red 3px solid;
	padding-top: 10px;
}
.social-link {
	display: inline-block;
	margin-left: 10px;
	.fa {
		font-size: 20px;
		color: $red;
		margin-right: 10px;
		&:hover {
			text-decoration: none;
			color: darken($red, 10%);
		}
	}
}
.sitemap {
	@include make-row();
	list-style: none;
	padding: 0;

	li {
		@include make-xs-column(6);
	}
	li > a {
		display: block;
		color: $gray-text;
		font-size: 14px;
		padding: 3px 0;
	}
}

// subscribe
.subscribe {
	margin: 15px 0;
}

// copyright
.copyright {
	@include clearfix;
	padding: 10px 0;
	margin-top: 30px;
	border-top: $gray-light 1px solid;
	font-size: 12px;
}