.sidebar{
	 .side-quote{
	 	margin:0 0 10px;
	 	padding:0 0 20px;
	 	a.right{
	 		right:0;
	 	};
	 	a.left{
			left:0;
	 	};
		.carousel-contrl{
			position: absolute;
			top: 30%;
			bottom: 0;
			font-size: 20px;
			color: $red;
			text-align: center;
			text-decoration: none;
		};
		img{
	 		width:45px;
			float:left;
			margin-left:30px;
	 	};
		.quote{
			color: $red;
			width:60%;
			float:right;
			margin-right:30px;
			line-height:2;
		};
		.quote:before{
			content:"''";
		};
		.quote:after{
			content:"''";
		};
		.quote_by{
			color: $red;
			width:60%;
			float:right;
			margin-right:30px;
			text-align:right;
			font-size:12px;
		}
	 }
     .side-ads{
		margin:10px 0;
     }
     .side-article{
     	margin:10px 0;
		.article-title{
			font-size:14px;
		}
     }
     .side-subscribe{
     	margin:10px 0;
     	overflow:auto;
		input{
			width: 70%;
			border-radius: 0;
			margin: 10px 0;
			background: $gray-text;
			color: white;
			border: 0;
		};
		input:hover,input:focus{
			border:1px solid $gray;
			color: $gray-text;
			background: white;
		};
		button{
			float:right;
			width: 30%;
			border-radius: 0;
			margin: 10px 0;
			background: $red;
			color: white;
			border: 0;
		};
		button:hover,button:focus{
			border:1px solid $red;
			color: $red;
			background: white;
		};
     }
}