//
// Core Variables
// --------------------------------------------------

// Color
$red: #ED1C24;

$white: #ffffff;
$black: #000000;

$gray-light: #ececec;
$gray: #ccc;
$gray-text: #666;
$gray-dark: #333;

// Font
$font-content: 16px;
$basic-font: "arial", "Microsoft JhengHei", 微軟正黑體,  sans-serif;

// Z-Index
$dropdown: 10;
$modal: 11;
$notification: 12;