<div class="photo">
	<img src="/img/HN_post_BruceLui_zREFW_900x0.jpg" alt="" class="img-responsive">
</div>
<p class="caption"></p>
<div class="articleTextWrap">
	<blockquote>
		<p>「整體來說香港是灰的，但我們要有幽默感。」</p>
		<p>— TED x Kowloon 2013 年度大會演講嘉賓 &nbsp;<strong>呂秉權</strong></p>
	</blockquote>
	<p>前任無線電視、有線電視中國組首席記者，現職浸會大學講師，呂秉權在訪問的開首，說了上述這句。接著的五十分鐘，他告訴我們，香港言論空間面臨的峻境，這一年，尤其加劇，包括傳媒被操控、被打壓；中央將互聯網定位為「主戰場」；治港方針由落實一國兩制、基本法、穩定繁榮，提升至維護國家安全。 會議室只得呂秉權的沉鬱說話，以及冷氣機的微噪。「我們知道中港融合會到，只係積極或者消極咁拖慢死嘅過程，但都想你顧及做觀眾（香港人）嘅感受。」</p>
	<p>最近期「不顧觀眾感受」的感受，來自商台晨早節目李慧玲的「匆忙」調職。他覺得像陳志雲如此懂得用人之術，又跟李慧玲有交情，不至於用現在的拙劣手法處理事件，背後是一陣手起刀落的急與狠。</p>
	<p>他也擔憂網絡空間收窄的問題。「我相信香港唔會出現獨立嘅情況，大家會好珍惜輿論空間。網絡係可以慢慢諗到解決辦法嘅過程。如果連呢個空間都無，嗰啲不滿會係其他渠道出現，個情況可能係我哋更加唔願見到，到時香港真係已死。」</p>
	<p>如今五毛、隱形戶口處處打輿論戰，一人分飾多角製造假民意易如反掌，呂秉權認為 Facebook 的東西也不全是真的，但如果你是「真實」的用家，會對自己的言行負責任。現在是人與人之間的基本誠信被剝離，幾可怕。「所以要一路有人肯講出真話，其他人亦相信真話嘅力量。」以此令政府跟民意不能離太遠，不能說太假的話。呂秉權說，現在周遭都是意識形態鬥爭，將不同人劃化為敵我，壁壘分明，像「佔領中環」就必然是重點對象。</p>
	<p>「香港問題無乜 solution。」多年在內地打滾、熟知國情的他幾乎下了定論。那我們都不用說重組生活、重組城市吧？呂秉權卻舉了另一例子。</p>
	<p>他說國內有朋友長期遭政府監控，國安人員總在左右。於是，他的朋友邀請國安人員齊齊看德國電影《竊聽者（Das Leben der Anderen）》。電影講述東西德時期，東德國安局的人如何監聽平民生活，呂秉權的朋友還跟國安比較「誰的手法比較厲害」，這時，國安人員笑了，而且略略作了比較有良心的分享。又例如艾未未，他拍了他的 MV 《傻伯夷》，嘻笑取代怒罵，力量卻沒有減退。</p>
	<p>MV 《傻伯夷》:</p>
	<div class='video-container'>
		<iframe allowfullscreen="" frameborder="0" height="315" src="http://www.youtube.com/embed/PizQCCHpIbY?rel=0" width="560">
		</iframe>
	</div>
	<p>「面對無邏輯，無章法的政府，大家一起笑吧。」</p>
	<p>他相信幽默感令我們有力量打持久戰，守衛防線。呂秉權會在 TEDxKowloon，跟我們在絕望中找希望。</p>
</div>