<h3 class="section-title">更多文章</h3>
<div class="related-article-list">
	<div class="article-item col-md-4">
		<a href="#"><img class="article-thumb img-responsive" src="/img/related-post-01-thumb.jpg"></a>
		<div class="article-content">
			<div class="article-category"><img src="/img/blog-icon1.png" class="ted-icon" alt=""/> 藝術</div>
			<div class="article-title"><a href="#">【Invader】政府有份搞的藝術</a></div>
			<div class="article-caption">【Invader】系列文章 文／Edmund Chan, Editor of TEDxKowloon 法國藝術家 Invader 在農曆新年期間，於香港各地用瓷磚砌了七十幾幅 ...</div>
		</div>
	</div>
	<div class="article-item col-md-4">
		<a href="#"><img class="article-thumb img-responsive" src="/img/related-post-02-thumb.jpg"></a>
		<div class="article-content">
			<div class="article-category"><img src="/img/blog-icon1.png" class="ted-icon" alt=""/> 政治</div>
			<div class="article-title"><a href="#">朱福強：成個 system 係爛晒，爛晒呀！</a></div>
			<div class="article-caption">成個 system 係爛晒，爛晒，爛晒呀。 — TEDxKowloon 2013 年度大會 演講嘉賓朱福強 朱福強，前政府檔案處署理署長，2007 年退休後與志同道合人...</div>
		</div>
	</div>
	<div class="article-item col-md-4">
		<a href="#"><img class="article-thumb img-responsive" src="/img/related-post-03-thumb.jpg"></a>
		<div class="article-content">
			<div class="article-category"><img src="/img/blog-icon1.png" class="ted-icon" alt=""/> 藝術</div>
			<div class="article-title"><a href="#">周俊輝: 矛盾在藝術和政治之間</a></div>
			<div class="article-caption">「藝術和政治之間存在矛盾，我在尋找當中的化學作用。」- 周俊輝 TEDxKowloon 2013 年度大會演講嘉賓 如果平常沒怎麼留意香港藝術圈的話，一般人對周俊輝的印...</div>
		</div>
	</div>
</div>