<div id="carousel-quote" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/quote-thumb.jpg" class="img-circle" alt=""/>
      <h6 class="quote">大學有些東西很噁心。在學生畢業之後找了一個人辦，聲明他的薪酬。</h6>
      <div class="quote_by">區家麟／資深傳媒人</div>
    </div>
    <div class="item">
      <img src="/img/quote-thumb.jpg" class="img-circle" alt=""/>
      <h6 class="quote">大學有些東西很噁心。在學生畢業之後找了一個人辦，聲明他的薪酬。</h6>
      <div class="quote_by">區家麟／資深傳媒人</div>
    </div>
    <div class="item">
      <img src="/img/quote-thumb.jpg" class="img-circle" alt=""/>
      <h6 class="quote">大學有些東西很噁心。在學生畢業之後找了一個人辦，聲明他的薪酬。</h6>
      <div class="quote_by">區家麟／資深傳媒人</div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-contrl" href="#carousel-quote" role="button" data-slide="prev">&lt;</a>
  <a class="right carousel-contrl" href="#carousel-quote" role="button" data-slide="next">&gt;</a>
</div>