<h3 class="section-title">最新文章</h3>
<ul class="article-list">
	<li class="article-item">
		<a href="#"><img class="article-thumb" src="/img/blog-01-thumb.jpg"></a>
		<div class="article-content">
			<div class="article-category">藝術</div>
			<div class="article-title"><a href="#">【Invader】政府有份搞的藝術</a></div>
			<div class="article-caption">【Invader】系列文章 文／Edmund Chan, Editor of TEDxKowloon 法國藝術家 Invader 在農曆新年期間，於香港各地用瓷磚砌了七十幾幅 ...</div>
		</div>
	</li>
	<li class="article-item">
		<a href="#"><img class="article-thumb" src="/img/blog-02-thumb.jpg"></a>
		<div class="article-content">
			<div class="article-category">政治</div>
			<div class="article-title"><a href="#">朱福強：成個 system 係爛晒，爛晒呀！</a></div>
			<div class="article-caption">成個 system 係爛晒，爛晒，爛晒呀。 — TEDxKowloon 2013 年度大會 演講嘉賓朱福強 朱福強，前政府檔案處署理署長，2007 年退休後與志同道合人...</div>
		</div>
	</li>
	<li class="article-item">
		<a href="#"><img class="article-thumb" src="/img/blog-03-thumb.jpg"></a>
		<div class="article-content">
			<div class="article-category">藝術</div>
			<div class="article-title"><a href="#">周俊輝: 矛盾在藝術和政治之間</a></div>
			<div class="article-caption">「藝術和政治之間存在矛盾，我在尋找當中的化學作用。」- 周俊輝 TEDxKowloon 2013 年度大會演講嘉賓 如果平常沒怎麼留意香港藝術圈的話，一般人對周俊輝的印...</div>
		</div>
	</li>
	<li class="article-item">
		<a href="#"><img class="article-thumb" src="/img/blog-04-thumb.jpg"></a>
		<div class="article-content">
			<div class="article-category">生活</div>
			<div class="article-title"><a href="#">何秀蘭: 歷史上道理係未輸過</a></div>
			<div class="article-caption">「歷史上道理係未輸過。」-- 何秀蘭 TEDxKowloon 2013 年度大會演講嘉賓 香港立法會議員、 《大愛同盟》創始成員何秀蘭，在攝影師幫忙準備訪問時，就問道：...</div>
		</div>
	</li>
</ul>