<h3 class="section-title">訂閱電子報</h3>
<p>Join the TEDxKowloon mailing list for the latest community news.</p>
<form method="post" action="/">
	<input type="text" class="form-control" placeholder="First Name (in English)" />
	<input type="text" class="form-control" placeholder="Last Name (in English)" />
	<input type="email" class="form-control" placeholder="Email" />
	<button class="btn btn-primary" type="submit">訂閱電子報</button>
</form>