<!-- <div class="container">
	<div class="footer-bar">
		<div class="social-link">
			<a class="fa fa-youtube" href="#"></a>
			<a class="fa fa-facebook" href="#"></a>
			<a class="fa fa-twitter" href="#"></a>
		</div>
		<ul class="footer-link">
			<li class="link-item"><a href="#">贊助夥伴</a></li>
			<li class="link-item"><a href="#">條款及細則</a></li>
			<li class="link-item"><a href="#">TEDxKowloon團隊</a></li>
		</ul>
	</div>
	<div class="copyright">Copyright &copy; All Rights Reserved</div>
</div> -->

<div class="container">
	<div class="footer-bar">
		<div class="footer-col">
			<h4 class="title">關於 TED/TEDx</h4>
			<p class="about-tedx">TED的宗旨是「廣傳創見」── 將創新、大膽、精彩的想法共冶一爐，用最簡明的方式廣傳世界各地。史上未曾有可媲美TED當下各式演講及活動這般多元、開放；聚集從科技到文藝的能人異士，宏觀全球議題、微觀生活變革共享啟思。TEDx則薈萃各地社區人文故事，將一地之聲發放全球，由下而上在全球化的光譜中為民間智慧再展本色。這就是TED 與TEDx的力量！</p>
			<h4 class="title">
				關注我們
				<div class="social-link">
					<a class="fa fa-youtube" href="#"></a>
					<a class="fa fa-facebook" href="#"></a>
					<a class="fa fa-twitter" href="#"></a>
				</div>
			</h4>
		</div>
		<div class="footer-col">
			<h4 class="title">網站地圖</h4>
			<ul class="sitemap">
				<li><a href="">演講</a></li>
				<li><a href="">影片</a></li>
				<li><a href="">文章</a></li>
				<li><a href="">最新消息</a></li>
				<li><a href="">媒體</a></li>
				<li><a href="">參與我們</a></li>
				<li><a href="">合作伙伴</a></li>
				<li><a href="">關於我們</a></li>
				<li><a href="">贊助伙伴</a></li>
				<li><a href="">條款及細則</a></li>
				<li><a href="">TEDxKowloon 團隊</a></li>
			</ul>
		</div>
		<div class="footer-col">
			<h4 class="title">訂閱電子報</h4>
			<div class="subscribe">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="youremail@email.com">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">訂閱</button>
					</span>
				</div><!-- /input-group -->
			</div>
		</div>


	</div>
	<div class="copyright">Copyright &copy; All Rights Reserved</div>
</div>