<div class="container">

	<!-- mobile nav button -->
	<div class="mobile-nav">
		<a href="#" class="mobile-nav-icon"><i class="fa fa-bars"></i></a>
	</div>
	<!-- mobile nav -->
	<ul class="mobile-nav-list">
		<li class="active"><a href="#">演講/活動</a></li>
		<li><a href="#about">影片分享</a></li>
		<li><a href="/blog">文章</a></li>
		<li><a href="#">最新消息</a></li>
		<li><a href="#">關於TEDxKowloon</a></li>
		<li><a href="#">媒體報道</a></li>
		<li><a href="#">參與我們</a></li>
		<li><a href="#">合作伙伴</a></li>
	</ul>

    <div class="logo-main"><a href="homepage.html"></a></div>
    <div class="logo-side"></div>
</div>

<script>
$('.mobile-nav-icon').click(function(){
	$('body').toggleClass('mobile-nav-active');
});
</script>