<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- <a class="navbar-brand" href="#">TEDxKowloon</a> -->
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">演講/活動</a></li>
      <li><a href="#about">影片分享</a></li>
      <li><a href="/blog">文章</a></li>
      <li><a href="#">最新消息</a></li>
      <li><a href="#">關於TEDxKowloon</a></li>
      <li><a href="#">媒體報道</a></li>
      <li><a href="#">參與我們</a></li>
      <li><a href="#">合作伙伴</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>